<section class="container">
  <aside class="logos">
    <a href="https://www.haj.gov.sa/Home" target="_parent"
      ><img
        class="haj"
        src="../../assets/Elhaj-Logo.svg"
        alt="Ministry of Hajj and Umrah Logo"
    /></a>
    <!-- <a href="https://www.elm.sa/ar/Pages/default.aspx" target="_parent"
      ><img class="elm" src="../../assets/Elm-Logo.svg" alt="Elm Logo"
    /></a> -->
    <a href="https://coresolutions.sa/" target="_parent"
      ><img
        class="core"
        src="../../assets/CoreS-Logo.svg"
        alt="Core Solutions Logo"
    /></a>
  </aside>
  <main class="content">
    <table id="table">
      <tr class="d-none d-lg-table-row">
        <th>#</th>
        <th>الإسم بالكامل</th>
        <th>الدور الوظيفي</th>
        <th>تسجيل الدخول</th>
      </tr>
      <tr>
        <td class="num" data-label="#">1</td>
        <td class="name" data-label="الإسم بالكامل">روزانا الشريف</td>
        <td class="role" data-label="الدور الوظيفي">Admin</td>
        <td class="login">
          <button class="btn" routerLink="/login">سجل الدخول</button>
        </td>
      </tr>

      <tr>
        <td class="num" data-label="#">2</td>
        <td class="name" data-label="الإسم بالكامل">أحمد بهي الدين</td>
        <td class="role" data-label="الدور الوظيفي">User</td>
        <td class="login">
          <button class="btn" routerLink="/login-user1">سجل الدخول</button>
        </td>
      </tr>

      <tr>
        <td class="num" data-label="#">3</td>
        <td class="name" data-label="الإسم بالكامل">محمد ممدوح</td>
        <td class="role" data-label="الدور الوظيفي">User</td>
        <td class="login">
          <button class="btn" routerLink="/login-user2">سجل الدخول</button>
        </td>
      </tr>
    </table>
    <button class="more">إضافة مستخدم جديد</button>
  </main>
</section>
