<section class="container">
  <aside class="logos">
    <a href="https://www.haj.gov.sa/Home" target="_parent"
      ><img
        class="haj"
        src="../../assets/Elhaj-Logo.svg"
        alt="Ministry of Hajj and Umrah Logo"
    /></a>
    <!-- <a href="https://www.elm.sa/ar/Pages/default.aspx" target="_parent"
      ><img class="elm" src="../../assets/Elm-Logo.svg" alt="Elm Logo"
    /></a> -->
    <a href="https://coresolutions.sa/" target="_parent"
      ><img
        class="core"
        src="../../assets/CoreS-Logo.svg"
        alt="Core Solutions Logo"
    /></a>
  </aside>
  <section class="mash3ar">
    <header>
      <img src="../../assets/Back-Arrow.svg" alt="back" />
      <a routerLink="/main-systems">السابق</a>
    </header>
    <section class="cards">
      <div class="card">
        <img src="../../assets/Transportations.svg" alt="centers" />
        <h3>خدمات المنافذ</h3>
        <button routerLink="/satisfaction">إبدأ الإستبيان</button>
      </div>
      <div class="card">
        <img src="../../assets/Welcoming.svg" alt="welcomeing" />
        <h3>خدمات الإستقبال</h3>
        <button routerLink="/satisfaction">إبدأ الإستبيان</button>
      </div>
      <div class="card">
        <img src="../../assets/bus.svg" alt="transportation" />
        <h3>خدمات النقل</h3>
        <button
          routerLink="/satisfaction"
          onclick="location.href='https://arcg.is/1y0oDe0'"
        >
          إبدأ الإستبيان
        </button>
      </div>
    </section>
    <section class="cards">
      <div class="card">
        <img src="../../assets/Hotel.svg" alt="hotels" />
        <h3>خدمات الإسكان</h3>
        <button
          routerLink="/satisfaction"
          onclick="location.href='https://arcg.is/1aePrj'"
        >
          إبدأ الإستبيان
        </button>
      </div>
      <div class="card">
        <img src="../../assets/Holy.svg" alt="holy places" />
        <h3>خدمات المشاعر المقدسة</h3>
        <button routerLink="/satisfaction">إبدأ الإستبيان</button>
      </div>
      <div class="card last">
        <img src="../../assets/Living.svg" alt="living" />
        <h3>خدمات الإعاشة</h3>
        <button routerLink="/satisfaction">إبدأ الإستبيان</button>
      </div>
    </section>
  </section>
</section>
