<section class="container">
  <aside class="logos">
    <a href="https://www.haj.gov.sa/Home" target="_parent"
      ><img
        class="haj"
        src="../../assets/Elhaj-Logo.svg"
        alt="Ministry of Hajj and Umrah Logo"
    /></a>
    <!-- <a href="https://www.elm.sa/ar/Pages/default.aspx" target="_parent"
      ><img class="elm" src="../../assets/Elm-Logo.svg" alt="Elm Logo"
    /></a> -->
    <a href="https://coresolutions.sa/" target="_parent"
      ><img
        class="core"
        src="../../assets/CoreS-Logo.svg"
        alt="Core Solutions Logo"
    /></a>
  </aside>
  <main class="content">
    <div class="card-1">
      <h1>تسجيل الدخول</h1>
      <form action="">
        <div class="email">
          <input
            type="text"
            placeholder="ادخل بريدك الإلكتروني"
            value="rozana_al_LearnArcGIS"
          />
        </div>
        <div class="pass">
          <input
            type="password"
            placeholder="الرقم السري"
            value="123456789123456789"
          />
        </div>
        <button class="main-btn" routerLink="/home">سجل دخولك</button>
      </form>
    </div>
  </main>
</section>
