<section class="container">
  <aside class="logos">
    <a href="https://africa-sa.com/" target="_parent"
      ><img
        class="haj"
        src="../../assets/africa-logo.png"
        alt="Ministry of Hajj and Umrah Logo"
    /></a>
    <!-- <a href="https://www.elm.sa/ar/Pages/default.aspx" target="_parent"
      ><img class="elm" src="../../assets/Elm-Logo.svg" alt="Elm Logo"
    /></a> -->
    <a href="https://coresolutions.sa/" target="_parent"
      ><img
        class="core"
        src="../../assets/CoreS-Logo.svg"
        alt="Core Solutions Logo"
    /></a>
  </aside>
  <main class="systems">
    <header>
      <img src="../../assets/Back-Arrow.svg" alt="back" />
      <a routerLink="/mashaaer">السابق</a>
    </header>
    <section class="cards">
      <div class="card">
        <h3>باقة (أ)</h3>
        <p>الكشف عن جاهزية إسكان المشاعر المقدسة <span>عرفات</span></p>
        <button onclick="location.href='https://arcg.is/vbCPr'">
          ابدأ الإستبيان
        </button>
      </div>
      <div class="card">
        <h3>باقة (ب)</h3>
        <p>الكشف عن جاهزية إسكان المشاعر المقدسة <span>عرفات</span></p>
        <button onclick="location.href='https://arcg.is/1X04PX1'">
          ابدأ الإستبيان
        </button>
      </div>
    </section>
    <section class="cards">
      <div class="card">
        <h3>باقة (ج)</h3>
        <p>الكشف عن جاهزية إسكان المشاعر المقدسة <span>عرفات</span></p>
        <button onclick="location.href='https://arcg.is/Pzq4u'">
          ابدأ الإستبيان
        </button>
      </div>
      <div class="card last">
        <h3>باقة (د)</h3>
        <p>الكشف عن جاهزية إسكان المشاعر المقدسة <span>عرفات</span></p>
        <button onclick="location.href='https://arcg.is/1O0m8T0'">
          ابدأ الإستبيان
        </button>
      </div>
    </section>
  </main>
</section>
