<section class="container">
  <aside class="logos">
    <a href="https://www.haj.gov.sa/Home" target="_parent"
      ><img
        class="haj"
        src="../../assets/Elhaj-Logo.svg"
        alt="Ministry of Hajj and Umrah Logo"
    /></a>
    <!-- <a href="https://www.elm.sa/ar/Pages/default.aspx" target="_parent"
      ><img class="elm" src="../../assets/Elm-Logo.svg" alt="Elm Logo"
    /></a> -->
    <a href="https://coresolutions.sa/" target="_parent"
      ><img
        class="core"
        src="../../assets/CoreS-Logo.svg"
        alt="Core Solutions Logo"
    /></a>
  </aside>
  <section class="mash3ar">
    <header>
      <img src="../../assets/Back-Arrow.svg" alt="back" />
      <a routerLink="/main-systems">السابق</a>
    </header>
    <section class="cards">
      <div class="mash3r">
        <div class="arafat"></div>
        <div class="card-box">
          <h3>مشعر عرفات</h3>
          <button routerLink="/arafat-plans">أستكشف المزيد</button>
        </div>
      </div>
      <div class="mash3r last">
        <div class="mena"></div>
        <div class="card-box">
          <h3>مشعر مني</h3>
          <button routerLink="/menaa-plans">أستكشف المزيد</button>
        </div>
      </div>
    </section>
  </section>
</section>
