<section class="container">
  <aside class="logos">
    <a href="https://www.haj.gov.sa/Home" target="_parent"
      ><img
        class="haj"
        src="../../assets/Elhaj-Logo.svg"
        alt="Ministry of Hajj and Umrah Logo"
    /></a>
    <!-- <a href="https://www.elm.sa/ar/Pages/default.aspx" target="_parent"
      ><img class="elm" src="../../assets/Elm-Logo.svg" alt="Elm Logo"
    /></a> -->
    <a href="https://coresolutions.sa/" target="_parent"
      ><img
        class="core"
        src="../../assets/CoreS-Logo.svg"
        alt="Core Solutions Logo"
    /></a>
  </aside>
  <main class="content">
    <h1>منصة الرقابة الشاملة</h1>
    <p>
      استكشف الآن نماذج الرقابة الذاتية والرقابة الوقائية، قياس جودة الخدمات
      وقياس رضا المستفيد
    </p>
    <button routerLink="/systems-1">
      إستكشف النظام
      <img src="../../assets/Right-Arrow.svg" alt="Arrow" />
    </button>
  </main>
</section>
