.container {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 2rem;
      font-weight: 800;
      color: var(--main-color);
    }

    p {
      font-size: 0.8rem;
      color: #707070;
      margin-bottom: 2em;
    }
  }
}

@media (max-width: 500px) {
  .container {
    .content {
      grid-area: content;
      height: 60vh;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
    }
  }
}
