<section class="container">
  <aside class="logos">
    <a href="https://www.haj.gov.sa/Home" target="_parent"
      ><img
        class="haj"
        src="../../assets/Elhaj-Logo.svg"
        alt="Ministry of Hajj and Umrah Logo"
    /></a>
    <!-- <a href="https://www.elm.sa/ar/Pages/default.aspx" target="_parent"
      ><img class="elm" src="../../assets/Elm-Logo.svg" alt="Elm Logo"
    /></a> -->
    <a href="https://coresolutions.sa/" target="_parent"
      ><img
        class="core"
        src="../../assets/CoreS-Logo.svg"
        alt="Core Solutions Logo"
    /></a>
  </aside>
  <main class="systems">
    <header>
      <img src="../../assets/Back-Arrow.svg" alt="back" />
      <a routerLink="/home">الصفحة الرئيسية</a>
    </header>
    <section class="cards">
      <div class="card survey">
        <img src="../../assets/Self-Supervision.svg" alt="Self-Supervision" />
        <h3>الرقابة الذاتية</h3>
        <button onclick="location.href='https://arcg.is/1vKHfX0'">
          ابدأ الإستبيان
        </button>
      </div>
      <div class="card last">
        <img src="../../assets/care-supervision.svg" alt="care-supervision" />
        <h3>الرقابة الوقائية <br /><span>(كشف الجاهزية)</span></h3>
        <button routerLink="/mashaaer">إستكشف النظام</button>
      </div>
    </section>
  </main>
</section>
