.container {
  height: 100vh;

  .systems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;

    header {
      position: relative;
      bottom: 100px;
    }

    .cards {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      gap: 5%;

      .survey {
        box-shadow: 0 3px 50px rgba($color: #2a622e, $alpha: 0.1);
      }
    }
  }
}

// Responsive
@media (max-width: 500px) {
  .container {
    .systems {
      gap: 30px;

      header {
        position: relative;
        bottom: -10px;
      }

      .cards {
        flex-direction: column;
        gap: 30px;

        .last {
          margin-bottom: 30px;
        }
      }
    }
  }
}
